body{
    position: unset;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}
.container {
    display: flow-root;
}
.wraper {
    width: 50%;
    display: grid;
    grid-template-columns: 12% 16% 11% 27% 27%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left:auto;
    margin-right: auto;
    padding: 2em;
    background: #EEEEEE 0% 0% no-repeat padding-box ;
    border-radius: 2em;
    }

.div1 { grid-area: 1 / 4 / 2 / 5; }
.div2 { grid-area: 1 / 5 / 2 / 6; }
.div3 { grid-area: 2 / 4 / 4 / 6; }
.div4 { grid-area: 1 / 1 / 2 / 4; }
.div5 { grid-area: 2 / 1 / 3 / 4; }
.div6 { padding: 1em 1em 1em 1em; }
.div8 { 
    grid-area: 3 / 3 / 4 / 4;
    padding: 1em 1em 1em 1.5em; 
}

.div4 > a{
    width: 100%;
    margin: 0em;
    background: none;
    color:#595858 ;
    font-size: 2em;
    padding: none;
    line-height: 2em;
    text-decoration: none;
    background: none;
}
.div5 > p{
    width: min-content;
    color:#595858 ;
    font-size: 1.25em;
    margin-left: 1.2em;
}
.div6 > .ic > i{
    margin-right: 0.25em;
    font-size: 1.75em;
    color: #595858;
}
.div6 > .ic >p{
    font-size: 1.15em;
    color: #595858;
    margin: 0em;
}
.div6 > .ic{
    display: flex;
}
.div8 > button{
    margin: 0em;
    background: none;
    line-height: unset;
    padding: 0em;
}
.div8>button >i{
    font-size: 1.75em;
    color: #595858;
    line-height: 1;
}


@media only screen and (max-device-width: 992px){
    body{
        font-size: 2em;
    }
    .board{
        grid-template-columns: 1fr;
    }

    .wraper{
        width: 97%;
        height: 25em;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 0em;
        column-gap: 0em;
    }
    .div2 { grid-area: 2 / 1 / 4 / 3; }
    .div3 { grid-area: 2 / 3 / 3 / 4; }
    .div1 { grid-area: 3 / 3 / 4 / 4; }
    .div8 { grid-area: 4 / 3 / 5 / 4;
            padding: 1.9em 1em 1em 2.5em; }
    .div5{ visibility: hidden;}
    .div6{ padding: 2em 1em 1em 1em;}
    
    
}