.container {
    display: flow-root;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: left;
    height:5em;
    align-items: center;
    margin: 0em;
    max-width: unset;
    background: #595858 0% 0% no-repeat padding-box;
}
.logo_menu{
    width: fit-content;
    font-size: 2.75em;
    flex-direction: row;
    font: Regular 61px/81px Segoe UI;
    color: #EEEEEE;
    margin-left:5%;
    padding-bottom: 5px;
}
.search > input{
    height: 2.75em;
    width: 100%;
    font: Regular 61px/81px Segoe UI;
    border: none;
    padding-left: 1em;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    border-radius: 24px;
    outline: none;
}
.icons{
    width: fit-content;
    flex-direction: row;
    color: #EEEEEE;
    size: 2.75em;
    margin: auto;
    margin-right: 1em;
}
.menu > .logo_menu > button{
    margin: 0;
    box-shadow: none;
    line-height: unset;
    outline: none;
}
.menu > .icons > button{
    box-shadow: none;
    line-height: unset;
    font-size: 2em;
    margin: 0.5em;
    outline: none;
}


.wraper > .div1 > img {
    width: 100%;
    height: 100%;
}
.wraper > .div2 > img {
    width: 100%;
    height: 100%;
}
.wraper > .div3 > img {
    width: 100%;
    height: 100%;
}

.wraper {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 3em;
    padding: 2em;
    background: #EEEEEE 0% 0% no-repeat padding-box ;
    }

.div1 { grid-area: 1 / 4 / 2 / 5; }
.div2 { grid-area: 1 / 5 / 2 / 6; }
.div3 { grid-area: 2 / 4 / 4 / 6; }
.div4 { grid-area: 1 / 1 / 2 / 4; }
.div5 { grid-area: 2 / 1 / 3 / 4; }
.div6 { grid-area: 3 / 1 / 4 / 2; }
.div7 { grid-area: 3 / 2 / 4 / 3; }
.div8 { grid-area: 3 / 3 / 4 / 4; }

.div4 > button{
    width: 100%;
    margin: 0;
    background: none;
    box-shadow: none;
    color:#595858 ;
    font-size: 2em;
    padding: none;
}

.actions-bar {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3em;
    color: #2699FB;
    font-size: 1em;
    line-height: 2.2em;
    padding: 0 1em;
    margin-top: 1em;
    font-weight: bold;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    background: #595858 0% 0% no-repeat padding-box;
}
.footer > button{
    box-shadow: none;
    margin: 0.5em;
    outline: none;
}

@media only screen and (max-device-width: 992px){
    .board{
        grid-template-columns: 1fr;
    }
    .menu{
        grid-template-columns: 1fr;
    }
    .menu > .search{
        visibility: hidden;
    }
    .menu > .icons{
        visibility: hidden;
    }
}