.footer{
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    background: #595858 0% 0% no-repeat padding-box;
}
.footer >.contact {
    box-shadow: none;
    margin: 0.5em;
    outline: none;
    display: inline;
}

.footer > button{
    display: none;
}
@media only screen and (max-device-width: 992px){
    .footer > .contact{ display: none;}
    .footer >  button{
        display: flex;
        font-size: 1.6em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0em;
        margin-bottom: 0em;
    }
}