.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map { grid-area: 1 / 1 / 2 / 2; }
.board { grid-area: 1 / 2 / 2 / 3; }

.map{
    width: 80%;
    height: 35em;
    background: gray;
    margin: auto auto 25em auto
}