.wraper{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width:70%;
    height: auto;
}

.wraper>p{
    font-size: 2em;
}

.profile{
    display: grid;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3em;
}
.profile>p{
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;
    color: #595858;
}

.profile>button{
    margin:0.5em;
    width: min-content;
    margin-right: auto;
    margin-left: auto;
    background: none;
    line-height: 1.5em;
    font-size: 2em;
    color:  #595858;;
}

.profile>img{
    width: 8em;
    height: 8em;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-device-width: 992px){
    .board{
        display: none;
    }
    .profile{
        margin-top: 3em;
    }
}